@layer milo.components {
  .root {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--space-3);
    border-top-style: solid;
    border-top-width: 1px;
    border-color: var(--border);
    padding-inline: var(--space-4);
    padding-block: var(--space-3);
  }

  .status {
    font-size: var(--type-body);
    line-height: var(--type-body-lh);
    letter-spacing: var(--type-body-ls);
    font-weight: var(--font-weight-medium);
    color: var(--text-muted);
  }

  .prev {
    margin-left: auto;
    color: var(--text)!important;
  }

  .next {
    color: var(--text)!important;
  }
}
