@layer milo.app {
  .filterGap {
    margin-bottom: 0.75rem;
  }

  .teacherCell {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .teacherName {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .fractionTotal {
    color: var(--text-muted);
  }
}
