@layer humans.components {
  .root {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition-property: background-color,border-color,color;
    transition-duration: var(--duration-fast);
    transition-timing-function: var(--ease-out);
  }

  .pressed:active {
    filter: brightness(0.94);
  }

  .disabled {
    &:disabled {
      pointer-events: none;
      background-color: var(--disabled-bg);
      color: var(--text-disabled);
    }
  }

  .disabledPlain {
    &:disabled {
      pointer-events: none;
      color: var(--text-disabled);
    }
  }


}
