@layer humans.components {
  .root {
    display: flex;
    cursor: text;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-color: var(--field-border);
    background-color: var(--field-bg);
  }

  .disabled {
    &:has(:is(input:disabled)) {
      pointer-events: none;
      opacity: .45;
    }
  }

  .icon {
    flex-shrink: 0;
  }

  .input {
    height: 100%;
    min-width: 0;
    flex: 1;
    background-color: transparent;
    font-weight: var(--font-weight-medium);
    color: var(--text);
    --humans-outline-style: none;
    outline-style: none;
    &::placeholder {
      color: var(--text-placeholder);
    }
  }

  .inputPad {
    margin-inline: calc(0.25rem * -2);
    padding-inline: var(--space-2);
  }
}
