@layer humans.components {
  .root {
    display: inline-flex;
    width: var(--hit);
    height: var(--hit);
    margin: calc((var(--box) - var(--hit)) / 2);
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    border-radius: var(--radius-full);
  }

  .rootSm {
    --box: 1rem;
    --hit: 1.5rem;
  }

  .rootMd {
    --box: 1.25rem;
    --hit: 1.5rem;
  }

  .rootLg {
    --box: 1.5rem;
    --hit: 1.75rem;
  }

  .control {
    display: inline-flex;
    width: var(--box);
    height: var(--box);
    align-items: center;
    justify-content: center;
    border-radius: var(--radius-full);
  }

  .motion {
    transition-property: background-color,box-shadow;
    transition-duration: var(--duration-fast);
    transition-timing-function: var(--ease-out);
  }

  .disabled {
    &:disabled {
      pointer-events: none;
    }
  }

  .on {
    background-color: var(--brand);
    &:is(:disabled > *) {
      background-color: var(--text-disabled);
    }
  }

  .off {
    background-color: var(--field-bg);
    box-shadow: inset 0 0 0 1px var(--border-strong);
    &:is([aria-invalid="true"] > * > *) {
      box-shadow: inset 0 0 0 1px var(--bad-ink);
    }
    &:is(:disabled > *) {
      background-color: var(--disabled-bg);
      box-shadow: inset 0 0 0 1px var(--disabled-border);
    }
  }

  .dot {
    width: calc(var(--box) * 0.4);
    height: calc(var(--box) * 0.4);
    border-radius: var(--radius-full);
    background-color: var(--on-brand);
    transition-property: transform,translate,scale,rotate;
    transition-duration: var(--duration-fast);
    transition-timing-function: var(--ease-out);
  }

  .dotOn {
    --humans-scale-x: 100%;
    --humans-scale-y: 100%;
    --humans-scale-z: 100%;
    scale: var(--humans-scale-x) var(--humans-scale-y);
  }

  .dotOff {
    --humans-scale-x: 0%;
    --humans-scale-y: 0%;
    --humans-scale-z: 0%;
    scale: var(--humans-scale-x) var(--humans-scale-y);
  }

  .row {
    display: inline-flex;
    align-items: center;
    gap: var(--space-3);
  }
}
